@font-face {
    font-family: "pirate-font";
    src: url("../Fonts/Goudy\ Mediaeval\ Regular.ttf");
}

#title {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#644c1b 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: 'pirate-font';
    position: relative;
	font-size: 140px;
	margin: 0;
	font-weight: 200;
    text-align: center;
}

#title::after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}

body {
	background: linear-gradient(to bottom, #5c4801, #000000);
}

html {
    height: 100%;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding: 5px;
}

#banner {
    display: flex;
	align-items: center;
	justify-content: center;
}

#play-cont {
    text-align: center;
}

#play-btn {
    display: inline;
    height: 100px;
}

#inputs {
    text-align: center;
}

#username {
    background:url(../../assets/img/Boton.png);
    background-repeat:no-repeat;
    background-size: 190px;
    font-family: 'pirate-font';
    font-size: larger;
    padding: 15px;
    height: 107px;
    width: 160px;
}

#user-pass {
    background:url(../../assets/img/Boton.png);
    background-repeat:no-repeat;
    background-size: 190px;
    font-family: 'pirate-font';
    font-size: larger;
    padding: 15px;
    height: 107px;
    width: 160px;
    margin-top: 10px;
}

#compr-cuen {
    text-align: center;
    position: relative;
}

#compr-cuen img {
    height: 100px;
    padding: 10px;
}

#compr-cuen h1 {
    font-family: 'pirate-font';
    font-size: large;
    position: absolute;
    transform: translate(93%, -360%);
}